<% content_for :javascript do %>
<script type="text/javascript" >
	function update_devices() {
		var device_ids = $("#search_devices").val();
  	if (device_ids.length == 0) {
  		$("#search_devices").val('All');
  	} else {
  		if ($("#search_devices option[value=All]:selected").length > 0) {
				$("#search_devices").val('All');
			}
  	}
	}
  $(document).ready(function() {
  	update_devices();
  	$("#search_devices").change(function(){
  		update_devices();
  	});
  });
</script>
<% end %>

<div class="row">
	<div class="col-md-4">
		<%= form_tag root_path do %>
			<%= label_tag 'search[country]', 'Country' %>
			<%= select_tag 'search[country]', options_for_select(@countries, selected: params.dig(:search, :country)), class: 'form-control mb-2'%>
			<%= label_tag 'search[devices]', 'Devices' %>
      <%= select_tag 'search[devices]', options_for_select(@devices, selected: params.dig(:search, :devices)), multiple: true, size: 12, class: 'form-control mb-2' %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
		<% end %>
	</div>
	<div class="col-md-8">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Country</th>
					<th>Bug Count</th>
				</tr>
			</thead>
			<tbody>
				<% @testers.each do |tester| %>
				<tr>
					<td><%= full_name tester %></td>
					<td><%= tester.country %></td>
					<td><%= tester.bug_count %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
