<!DOCTYPE html>
<html>
  <head>
    <title>Bug Tracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield :css %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :javascript %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <%= link_to 'Bug Tracker', root_path, class: 'navbar-brand' %>
        <div class="collapse navbar-collapse" id="navbarsExample09">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%= link_to 'Devices', devices_path, class: 'nav-link' %>
            </li>
          </ul>
         
        </div>
      </div><!-- container -->
    </nav>
    <div class="container mt-3">
      <%= yield %>
    </div>
  </body>
</html>
